- provide :title, "ログイン"

- login_elements = { name: "ユーザー名",
                     password: "パスワード",
                   }

- login_sns = [ "twitter",
                "facebook",
                "google",
              ]

= stylesheet_link_tag "login"

#login
  #login-window
    = form_for(:session, url: sessions_path) do |f|
      - for element in login_elements
        - if element[0] == :password
          = f.password_field element[0], id: "#{element[0]}", class: "login-info form-control", placeholder: "#{element[1]}"
        - else
          = f.text_field element[0], id: "#{element[0]}", class: "login-info form-control", placeholder: "#{element[1]}"

      = f.submit "ログイン", id: "login-button", class: "btn btn-info"

    p#forget-password パスワードを忘れた方は<a href="#"> こちら</a>
    = link_to "ユーザー登録", signup_path


  / - for sns in login_sns
  / button.sns-login[id="#{sns}"] = "#{sns}アカウントでログイン"
