- provide(:title, "編集")
- signup_elements = { name: "ユーザー名",
                      password: "パスワード",
                      password_confirmation: "パスワードを再入力",
                      mail: "メールアドレス",
                      # default_category: "デフォルトで検索するジャンル",
                      # default_area: "デフォルトで検索する地域",
                    }

= stylesheet_link_tag "signup"

#edit
  #edit-window
    = form_for(@user) do |f|
      = render 'shared/error_messages'
      - for element in signup_elements
        = f.text_field element[0], class: "user-info", placeholder: "#{element[1]}"

      input#signup-button.btn-primary.btn[type="submit" value="ユーザー情報変更"]
