- provide(:title, "Home")

- search_elements = { category: "ジャンル（例: 寿司）",
                      area: "地域（例: 渋谷）",
                    }

= stylesheet_link_tag "home"

#home
  #logo-area
    = image_tag "/logos/search_logo.png", :id => "search-logo"

  #search-area
    - for element in search_elements
      input.search-box[id="#{element[0]}" placeholder="#{element[1]}"]

    input#search-button.btn.btn-danger[type="button" value="マッチング"]
