- provide(:title, "結果")

= stylesheet_link_tag "result"

#result
  = image_tag "/logos/result_logo.png"

  #result-area
    h3#restaurant-name 店名
    img#restaurant-image
    p#restaurant-description 店についての説明

    p#access アクセス
    p#address 住所

    #map-area
      img#map
      p#access-description どこ駅から徒歩何分的な
