- display_items = { name: "ユーザー名",
                    mail: "メールアドレス",
                    password: "パスワード",
                    default_category: "デフォルトで検索するジャンル",
                    default_area: "デフォルトで検索するエリア",
                  }

#user-page
  #user-info
    - for item in display_items
      p.item-name = item[1]
      p.item-content = @user[item[0]]

  #button-area
    = link_to "マッチング", home_path, class: "btn btn-danger"
