- errors = @user.errors.select {|e| e[1].match(/。/)}
- if errors.any?
  .alert.alert-danger
    p = "入力データに#{errors.count}個のエラーがあります。"

    ul#error-list
      - for msg in errors
        li = msg[1]
