/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header {
  display: flex;
  width: 100%;
  height: auto;
  color: snow;
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  padding-top: 1em;
  padding-right: 5px;
}

header p {
  display: inline-block;
}

body {
  background-image: url("/images/cafe.jpg");
}

footer {
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 1em;
  padding-left: 5px;
}

.modal-footer {
  display: flex;
}

#container {
  margin-left: auto;
  margin-right: auto;
}

.alert {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: 5em;
  text-align: center;
}

#error-list {
  list-style: decimal;
}
