// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ヘッダーのプロパティの値
$header-margin-right: 1%;
$header-margin-top: 1%;
$header-content-padding: 5px;

// フッターのプロパティの値
$footer-content-padding: 5px;

// 共通で使うプロパティの値
$content-margin-top: 10em;
$submit-botton-margin-top: 3em;
$input-window-border: 3px solid lightgray;
$message-border: 3px solid gray;
$message-border-radius: 10px;

// homeプロパティの値
$home-input-margin: 3em 0.5em 2em 0.5em;
$home-margin-top: 6em;
$search-box-default-color: lightgray;
$search-box-border-radius: 5px;
$cafe-image: url("/images/cafe.jpg");

// loginプロパティの値
$login-margin-top: 15em;
$login-window-width: 30%;
$login-window-margin-top: 1.5em;
$login-window-margin-bottom: 2em;
$login-window-border: 3px solid lightgray;
$login-window-border-radius: 10px;
$login-window-first-child-margin-top: 1.5em;
$login-window-input-margin-bottom: 1em;
$forget-password-margin-top: 0.5em;
$login-button-margin-top: 1em;
$login-button-margin-bottom: 0.5em;

// signupプロパティの値
$required-input-background-color: mistyrose;

// resultプロパティの値
$result-margin-top: 6em;
$result-area-border: 3px solid lightgray;
$result-area-border-radius: 5px;
$result-area-width: 50%;


// ミックスイン
// 中央に配置
@mixin position-center() {
  margin-left: auto;
  margin-right: auto;
}

// divの配置
@mixin set-div($margin-top) {
  margin-top: $margin-top;
  text-align: center;
}

// 丸めたボーダーを引く
@mixin round-border($border-setting, $border-radius) {
  border: $border-setting;
  border-radius: $border-radius;
}

// 内容を表示する部分を作る
@mixin content-window() {
  background-color: white;
  width: $login-window-width;
  border-radius: 10px;
}

// フォーム
@mixin form() {
  margin-bottom: 0;
  margin-top: 0;
  border: 1px solid lightgray;
  height: 3em;
  border-radius: 2px;
  padding-left: 1em;
  width: 100%;
}

// displayがblockなボタン
@mixin block-button($margin-top) {
  @include position-center();
  display: block;
  margin-top: $margin-top;
}


// 共通のヘッダーの中身
header {
  * {
    margin-right: $header-margin-right;
    margin-top: $header-margin-top;

    padding: $header-content-padding;
  }
}

// 共通のフッターの中身
footer {
  * {
    padding: $footer-content-padding;
  }

  .modal-footer {
    *:first-child {
      margin-left: 50%;
    }
  }
}


// homeのスタイル
#home {
  @include set-div($home-margin-top);

  #search-area {

    .search-box {
      border-radius: $search-box-border-radius;
      margin: $home-input-margin;
    }

    #search-button {
      display: block;
      @include position-center();
    }
  }

  #logo-area {
    #search-logo {
      display: block;
      @include position-center();
    }
  }
}


// loginのスタイル
#login {
  @include set-div($login-margin-top);

  margin-bottom: $login-window-margin-bottom;

  #login-window {
    @include position-center();

    width: $login-window-width;

    .login-info:first-child {
      margin-top: $login-window-first-child-margin-top;
    }

    .login-info {
      @include form();
    }

    #login-button {
      @include block-button($login-button-margin-top);
    }

    #forget-password {
      margin-top: $forget-password-margin-top;
    }
  }

  .sns-login {
    @include position-center();

    display: block;
    margin-top: $login-button-margin-top;
    margin-bottom: $login-button-margin-bottom;
  }
}


// resultのスタイル
#result {
  @include set-div($result-margin-top);

  #result-area {
    @include position-center();
    @include content-window();
    @include round-border($result-area-border, $result-area-border-radius);

    width: $result-area-width;

    #restaurant-name {
      text-decoration: underline;
    }
  }
}


// signupとeditのスタイル
#signup, #edit {
  @include set-div($content-margin-top);


  #signup-window, #edit-window {
    @include position-center();

    width: $login-window-width;

    #signup-button, #edit-button {
      @include block-button($submit-botton-margin-top);
    }

    .required {
      // background-color: $required-input-background-color;
    }

    .user-info {
      @include form();
    }
  }

  // エラーメッセージのスタイル
  .alert {
    position: relative;
    width: 400px;
    text-align: center;
    left: 50%;
    margin-left: -200px;
  }
}

// ユーザーページのスタイル
#user-page {
  @include set-div($content-margin-top);

  #user-info {
    @include position-center();
    @include round-border($result-area-border, $result-area-border-radius);
    @include content-window();

    .item-name {
      display: inline-block;
    }
  }

  #button-area {
    @include position-center();

    margin-top: 3em;
  }
}


// 画面説明のスタイル
.message {
  @include position-center();

  color: snow;
}
