header * {
  margin-right: 1%;
  margin-top: 1%;
  padding: 5px; }

footer * {
  padding: 5px; }
footer .modal-footer *:first-child {
  margin-left: 50%; }

#home {
  margin-top: 6em;
  text-align: center; }
  #home #search-area .search-box {
    border-radius: 5px;
    margin: 3em 0.5em 2em 0.5em; }
  #home #search-area #search-button {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #home #logo-area #search-logo {
    display: block;
    margin-left: auto;
    margin-right: auto; }

#login {
  margin-top: 15em;
  text-align: center;
  margin-bottom: 2em; }
  #login #login-window {
    margin-left: auto;
    margin-right: auto;
    width: 30%; }
    #login #login-window .login-info:first-child {
      margin-top: 1.5em; }
    #login #login-window .login-info {
      margin-bottom: 0;
      margin-top: 0;
      border: 1px solid lightgray;
      height: 3em;
      border-radius: 2px;
      padding-left: 1em;
      width: 100%; }
    #login #login-window #login-button {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 1em; }
    #login #login-window #forget-password {
      margin-top: 0.5em; }
  #login .sns-login {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em; }

#result {
  margin-top: 6em;
  text-align: center; }
  #result #result-area {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 30%;
    border-radius: 10px;
    border: 3px solid lightgray;
    border-radius: 5px;
    width: 50%; }
    #result #result-area #restaurant-name {
      text-decoration: underline; }

#signup, #edit {
  margin-top: 10em;
  text-align: center; }
  #signup #signup-window, #signup #edit-window, #edit #signup-window, #edit #edit-window {
    margin-left: auto;
    margin-right: auto;
    width: 30%; }
    #signup #signup-window #signup-button, #signup #signup-window #edit-button, #signup #edit-window #signup-button, #signup #edit-window #edit-button, #edit #signup-window #signup-button, #edit #signup-window #edit-button, #edit #edit-window #signup-button, #edit #edit-window #edit-button {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 3em; }
    #signup #signup-window .user-info, #signup #edit-window .user-info, #edit #signup-window .user-info, #edit #edit-window .user-info {
      margin-bottom: 0;
      margin-top: 0;
      border: 1px solid lightgray;
      height: 3em;
      border-radius: 2px;
      padding-left: 1em;
      width: 100%; }
  #signup .alert, #edit .alert {
    position: relative;
    width: 400px;
    text-align: center;
    left: 50%;
    margin-left: -200px; }

#user-page {
  margin-top: 10em;
  text-align: center; }
  #user-page #user-info {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid lightgray;
    border-radius: 5px;
    background-color: white;
    width: 30%;
    border-radius: 10px; }
    #user-page #user-info .item-name {
      display: inline-block; }
  #user-page #button-area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em; }

.message {
  margin-left: auto;
  margin-right: auto;
  color: snow; }
