<!DOCTYPE html>
<html>
<head>
  <title>飯マッチング | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if signed_in? %>
      <p><%= "#{current_user.name}さん" %></p>
      <%= link_to "設定", edit_user_path(current_user), method: "get" %>
      <%= link_to "サインアウト", signout_path, method: "delete" %>
    <% else %>
      <%= link_to "ログイン", signin_path %>
      <%= link_to "ユーザー登録", new_path %>
    <% end %>
  </header>

  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <%= yield %>

  <%= debug(params) if Rails.env.development? %>

  <footer>
    <a data-toggle="modal" id="help-link" href="#help-modal">ヘルプ</a>

    <div id="help-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>飯マッチングについて</h3>
          </div>
          <div class="modal-body">
            <p>
              飯マッチングは食べ物のジャンルと店の場所から、レストランを一軒だけ検索するアプリです。どこでご飯を食べようか考えるのが面倒なときにお使いください。
            </p>
          </div>
          <div class="modal-footer">
            <p>
              made by kentana
            </p>
            <p>
              powered by ぐるなび
            </p>
          </div>
        </div>
      </div>
    </div>

    <%# <%= image_tag ぐるなびの画像%>
  </footer>

</body>
</html>
